@import "tailwindcss";

html { scroll-behavior: smooth; }

/* optional small helper */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}